<ion-view title="Feed">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-item collection-repeat="product in products" item-width="50%" item-height="250">
<!--     <div class="list card"> -->
            <a ng-click="openProduct(product.fields)">
              <div class="item item-image">

                  <img class="product-image" ng-src="{{product.fields.photo_set[0].url_large}}" item-height="280" />

              </div>
                </a>
                <div class="item item-icon-left assertive" href="#" ng-click="toggleFav(product.fields)">
                    <i class="icon ion-heart" ng-class="{dark:product.fields.isFavorite, assertive:!product.fields.isFavorite}" ></i>
                     <p>{{product.fields.brand}}</p>
                </div>
  </ion-item>
    </ion-content>
</ion-view>