
    <ion-view title="Product Details">
         <div class="bar bar-header bar-dark">
            <button class="button icon ion-arrow-left-c"></button>
            <h1 class="title">Header</h1>
        </div>

        <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="row responsive-sm">
            <img src="{product_img_url}">
        </div>
        
        <hr> 

        <div class="prices row">
            <div class="retail col col-20">Retail: <br>{retail price}</div>
            <div class="actual col col-60">{actual price}</div>
            <div class="savings col col-20">Savings: <br>{savings amount}</div>
        </div>

        <div class="simulation row">
            <div class="col col-50">Finding the best price.</div>
            <div class="col col-50">{marketplace}</div>
        </div>

        <hr>

        <div class="row">
            <h5>Browse Similar</h5>
        </div>

        <ion-footer-bar align-title="left" class="bar-dark">
        <div class="item-icon-left">
            <i class="icon ion-heart"></i>
        </div>
          <div class="buttons">
            <button class="button button-calm">Buy</button>
          </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
