<ion-view title="Product Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p>Retail</p>
        </div>
        <div>
            <p>Price</p>
        </div>
        <div>
            <p>Saved</p>
        </div>
        <div>
            <p>"Searching for best price"</p>
        </div>
        <div>
            <p>Marketplace</p>
        </div>
        <ion-list></ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>